/* Add this to _sidebar.css */

.sidebar-bottom {
    position: fixed;
    bottom: 20px;
    left: 60px;
    width: 100%;
    z-index: 10;
}


.sidebar-bottom .chatbot-logo {
    max-width: 90px; /* Adjust as needed */
}

.chatbot-logo:hover{
    transform: scale(1.1);
}